h1{
	color: red;
	margin-top: 1.5em;
}

hr{
	color:green;
}


h2{
	color: brown;
}

body{
	margin: 2cm;
	font-family: sans-serif;
	background-color: #D8FBFF;
}


code{
	font-size: 1.5rem;
	color: orange;
}